
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto Mono', monospace;
}

.header-container{
    padding: 5px;
    background: #c0ffc5;
   
}
header .header-container .img-header{
    width: 100px;
    height: 100px;
    display: inline-block;
    
}
.header-container .title-header{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}
.header-container p{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

main{
    background: url("img/background.jpg");
    
}
.main{
    padding: 20px;
    margin: auto;
    width: 90%;
}

.encriptar, .desencriptar{
    display: inline-block;
    
    backdrop-filter: blur(5px) saturate(170%);
    -webkit-backdrop-filter: blur(5px) saturate(170%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    padding: 20px;
    position: relative;

    
    width: 500px;
    height: 400px;

    vertical-align: top;
    margin: 10px;

}

.encriptar textarea,.desencriptar textarea{
    
    font-size:large;
    width: 490px;
    height: 300px;
    resize: none;
    border-radius: 20px;
    padding: 5px;
}
.encriptar .button{
    display: inline-block;
    
}
.desencriptar-empty{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.desencriptar-empty p, #message{
    color: white;
    text-align: center;
    font-size: 2em;
    display: block;
    
}
#message{
    float: left;
    position: relative;
}
.desencriptar-empty img{
    
    width: 250px;
    height: 200px;
    filter: invert();

    
}
.desencriptar-result{
    display: none; 
}
.button{
    font-size: 20px;
    transition: 400ms;
    margin-top: 20px;
    

    border-radius: 10px;
    padding: 10px 30px;
    background:black;
    color:  white;
}
.button:hover{
    transform: scale(1.05);
    filter: invert();
    font-weight: bold;
}
.btn-encriptar, .btn-desencriptar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.btn-encriptar .button, .btn-desencriptar .button{
    margin: 10px;
}
footer{
    
    padding: 10px 20px;
   
    background: black;
    color: white;
}

footer .social-icon{
    
    width: 40px;
    height: 40px;

    margin: 10px;
    filter: invert();
    
    transition: 250ms;
}
footer .social-icon:hover{
    cursor: pointer;
    transform: rotate(360deg) scale(1.2);

}
footer .footer-container p{
    font-size: 1.1em;
    font-weight: bold;

}
footer .footer-container .copyright{
    margin-top: 1.5em;
    font-size: 0.9em;
    text-align: center;
    letter-spacing: 0.1em;
    
}

/* Resposive querys */
@media screen and (max-width:480px){
    
    .encriptar, .desencriptar,.main{
        width: auto;
        height: auto;
        margin: auto;
        padding: auto;
      
    }

    .desencriptar-empty p{
        display: block;
        font-size: 2em;
    }
    .encriptar textarea,.desencriptar textarea,#input,#output{
        width: 95%;
        height: 70%;
    }

    #message{
        display: block;
    }
    .button, #message{
        width: auto;
        padding: auto;
        margin: auto;
        font-size: 1em;
    }
    .btn-encriptar .button, .btn-encriptar{
        display: inline-block;
    }
   
    .desencriptar-empty img{
        width: 50px;
        height: 50px;
        margin: auto;
        padding: auto;
        display: block;
    }
    .btn-encriptar, .btn-desencriptar, .btn-encriptar .button{
        width: auto;
        padding: auto;
        margin: auto;
    }
    .btn-encriptar .button{
        margin: 5px;
    }
    .desencriptar, .encriptar{
        margin: 10px;
    }
}
